div.full-height( layout="column", layout-fill )
  md-toolbar.md-primary( style="position: relative" )
    h1.md-toolbar-tools( layout="row", layout-align="space-between" )
      a.fa.fa-chevron-left( ui-sref="^" )
      a.pacifico( ui-sref="main.projects" )  &nbsp; &nbsp; Cherche ton appart 
      span( flex )
      span
        span.fa.fa-archive
        span.fa.fa-star
  iframe( flex ng-src="{{ url }}" style="width: 100%;" )
