/* Less file for listeProjets*/

// oups -_-
$pink: rgb( 233, 30, 99 );
$indigo: rgb(63,81,181);

$news-count-width: 3em;
$news-count-color: $pink;
$news-count-margin: 1em;

.news-count {
  width: $news-count-width;
  height: $news-count-width;
  border-radius: $news-count-width / 2;
  background-color: rgba( 0, 0, 0, 0.15 );
  margin: $news-count-margin;
  color: white;
}

md-item.active .news-count {
  background-color: $indigo !important;
  color: white !important;
}
