doctype html
html(lang="en" ng-app="trouverDesTerrains" resizable)
  head
    meta(charset="utf-8")
    meta( name='viewport' content="width=device-width" )
    title=pageTitle

    // mixpanel analytics
    include ./front_assets/mixpanel.html

    // inject:css 
    // Note that inject and endinject must be surrounded by a space on both sides
    // endinject 

    // inject:js 
    // Note that inject and endinject must be surrounded by a space on both sides
    // endinject 

    link( rel="stylesheet", href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" )

    //  pacifico font
    link( ref="http://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet" type="text/css" )


  body(ng-controller="AppController", ng-cloak)
    div.full-height.full-width( layout="row", ui-view="main" )

