div.big-padding
  md-subheader.md-primary Définissez vos critères de recherche
  md-content.md-padding
    md-input-container
      label Nom du projet
      input(
        ng-model="project.name"
        type="text"
        name="name"
      )

    div( layout, layout-align="end", style="margin-top: 30px" )
      md-button.md-raised.md-warn( 
        ng-click="createProject()"
      )
        | Créer le projet
