<h1> Une nouvelle annonce est disponible !</h1>

<p>Bonjour <%= @username %>,</p>
<p>
  Une nouvelle annonce est disponible pour votre projet <i><%= @project_name %></i>! 
</p>

<p>
  Vous pouvez la retrouver en cliquant sur ce lien: <%= @link_url %>
</p>
