section
  div.md-subheader.md-default-theme
    div.md-subheader-content
      h2 Mes catégories 

  md-list.lands-list( layout="column" )
    md-item( 
      ng-repeat="category in categories"
      ui-sref="main.project.categories.category({categoryId: category.id})"
    )
      md-divider
      md-item-content( style="background-color: white" )
        div.md-tile-left
          div.news-count( 
            layout="row"
            layout-align="center center" 
          )
            span {{ category.ads_count }}
        div.md-tile-content
          h3 {{ category.name }}

