div.landing-background( layout="column", layout-align="center center" )
  div( flex=35 )
  div( layout="column" layout-align="space-around center" class="big-padding center" )
    h4.text-white.landing-title Woodstack terrains
    h1.text-white Cherchez votre appart facilement
    md-button.md-primary.md-raised.signin-button( 
      ng-click="googleAuthenticate()" 
      style="margin-bottom: 10px"
    )
      span.fa.fa-google
      | &nbsp; connexion avec google

    md-button.md-primary.md-raised.signin-button( 
      ng-click="facebookAuthenticate()" 
    )
      span.fa.fa-facebook
      | &nbsp; connexion avec facebook
