div.landing-background( layout="column", layout-align="center center" )
  div( flex=35 )
  div( layout="column" layout-align="space-around center" class="big-padding center" )
    h4.text-white.landing-title Woodstack terrains
    h1.text-white Cherchez des terrains sans effort
    md-button.md-primary.md-raised.signin-button( 
      ng-click="authenticate()" 
    )
      span.fa.fa-google
      | &nbsp; connexion avec google
